/* the grid */
div.flexigrid {font-size: 100%}
table.todo_grid td {white-space: normal !important}

/* the states */
span.todo_state_idea {}
span.todo_state_todo {color: red}
span.todo_state_inprogress {color: orange}
span.todo_state_done {color: green}

/* signal already voted */
span.todo_voted {color: green}

/* the grid buttons */
span.todo_btn_add {background: url(../images/add.png) no-repeat center left}
span.todo_btn_edit {background: url(../images/edit.png) no-repeat center left}
span.todo_btn_remove {background: url(../images/delete.png) no-repeat center left}
span.todo_btn_move {background: url(../images/move.png) no-repeat center left}
span.todo_btn_voting {background: url(../images/voting.png) no-repeat center left}

/* "edit" and "move" dialog */
label.todo_label {float:left; width: 100px}
#todo_edit input, #todo_edit textarea, #todo_edit select, #todo_move select {
    float: left; width: 400px; padding: 0; margin: 0; border: 1px solid #888; margin-bottom: 0.5em
}
#todo_edit br, #todo_move br {clear: both}

/* the voting dialog */
#todo_voting table {border-collapse: collapse}
#todo_voting table td {border: 1px solid #888; padding: 0.2em}

/* back-end */
img.todo_plugin_icon {display: block; float: left; margin: 0 20px 10px 0}
p.todo_license {clear: both; text-align: justify}
